<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header"></head>
<body>
<nav th:replace="layout :: topnavbar"></nav>
<div class="container">
    <form action="/cat/save" th:object="${cat}" method="POST">

        <input type="text" placeholder="Name" th:field="${cat.name}">

        <input type="text" placeholder="Age" th:field="${cat.age}">

        <input type="radio" th:field="${cat.gender}" value="male" checked> Male
        <input type="radio" th:field="${cat.gender}" value="female"> Female
        <input type="radio" th:field="${cat.gender}" value="unknown"> Unknown

        <select th:field="${cat.status}">
            <option th:each="statusOpt : ${T(com.catfoundation.demo.entity.Cat.CatStatus).values()}" th:value="${statusOpt}" th:text="${statusOpt}"></option>
        </select>

        <input type="text" placeholder="Description" th:field="${cat.description}">

        <button type="submit">Add a cat</button>

    </form>
</div>

</body>

</html>